/* globals.css */

/* html, body の設定 */
html, body {
  height: 100%;
  font-family: sans-serif;
  background-color: #121212; /* 背景色 */
  color: white; /* 文字色 */
  margin: 0; /* body の余白を削除 */
}

/* もしフッターを下部に固定したい場合は、以下のように変更できます */
body {
  /* display: flex; */  /* この行を削除 */
  /* flex-direction: column; */ /* この行を削除 */
  /* justify-content: space-between; */ /* この行を削除 */
  /* margin: 0; */ /* この行は残しておく */
}
