/* globals.css */

/* html, body の設定 */
html, body {
  height: 100%;
  font-family: sans-serif;
  background-color: #121212; /* 背景色 */
  color: white; /* 文字色 */
  margin: 0; /* body の余白を削除 */
  display: flex; /* Flexbox を使ってレイアウトを調整 */
  flex-direction: column; /* コンテンツを縦方向に配置 */
}

/* メインコンテンツとフッターのレイアウト */
body > main {
  flex: 1; /* メインコンテンツが残りの空間を占めるようにする */
}

/* フッターの固定 */
footer {
  margin-top: auto; /* フッターをページ下部に配置 */
}
