/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.galleryItem {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
}

.galleryItem:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}



/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modalContent {
  display: flex; /* フレックスレイアウトで画像とテキストを分離 */
  flex-direction: column; /* デフォルトは縦配置 */
  align-items: center;
  max-width: 90%; /* モーダルの最大幅 */
  max-height: 90%; /* モーダルの最大高さ */
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0); /* 背景を透過黒に設定 */
  box-sizing: border-box;
  overflow: auto; /* 内容が多い場合にスクロール可能にする */
}

.modalImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* コンテナの幅を制限 */
  max-height: 70vh; /* 画面高さの70%まで */
}

.modalImageContainer img {
  max-width: 100%; /* 画像がコンテナを超えないようにする */
  max-height: 100%; /* 高さもコンテナ内に収める */
  object-fit: contain; /* 画像の縦横比を保つ */
  border-radius: 8px;
}

.modalCaption {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.modalCaption h3 {
  font-size: 18px;
}

.modalCaption p {
  font-size: 14px;
  line-height: 1.5;
}

.closeButton {
  margin-top: 10px;
  padding: 10px 20px;
  background: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton:hover {
  background: #0056b3;
}

